body {
  background-color: black;
}
h1, h2 {
  color: white;
}
p {
  color: white;
}
#submit_button {
  background-color:  #E42575;
  border-style: solid;
  border-color: #E42575;
  color:  white;
  border-radius:  0.375rem;
}

#collection_symbol_text {
  color:  white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:  white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: #1C1326;
  color: white;
}

a {
  color: white;
}